*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

h1{
    color: white;
    /* font-size: large; */
}

.tictac{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 equal columns */
    grid-template-rows: repeat(3, 100px);  /* 3 equal rows, each 100px height */
    gap: 10px; /* space between boxes */
    width: 320px;
    margin: 20px auto;

}

.box{
    background-color: white;
    color: black;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.box:hover{
    background-color: rgb(209, 209, 209);
    cursor: pointer;
}

#rbtn{
    width: 200px;
    height: 50px;
    font-size: 25px;
    font-weight:600;
    margin-top: 20px;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0.1px 0.2px grey;

}

#rbtn:hover{
    background-color: rgb(209, 209, 209);
}

.winnerClass{
    background-color: lightgreen;
}