*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.navbar{
    position: sticky;
    top: 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 9px 16px;
}

.leftbar{
    display: flex;
    gap: 20px;
}

.leftbar img:nth-child(2){
    width: 90px;
}

.centernav{
    width: 60%;
    display: flex;
    justify-content: center;
}

.centernav>input{
    border: none;
    width: 60%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    width: 55%;
    padding: 8px 15px;
    border: 0.2px solid #3f3f3f;
    border-right: 0;
    background-color: black;
    font-size: 16px;
}

.centernav>input::placeholder{
    color: rgba(255, 255, 255, 0.726);
}

/* 
.centernav>input:active{
    border: none;
    border: 0.5px solid blue;
} */

.centernav img:nth-child(2){
    padding: 3px 10px;
    background-color: #121212;
    border-bottom-right-radius:20px;
    border-top-right-radius: 20px;
    border: 0.2px solid #3f3f3f;
    cursor: pointer;
}

.centernav img:nth-child(3){
    margin-left: 5px;
    padding: 3px 7px;
    background-color: #121212;
    border-radius: 20px;
    border: 1px solid #3f3f3fb4;
}

.rightnav{
    margin-right: 25px;
    display: flex;
    gap: 18px;
}

.rightnav>img{
    width: 27px;
}

.rightnav img:nth-child(3){
    /* padding:5px; */
    /* background-color:white; */
    border-radius: 50px;
}

.ytpremium{
    padding-top: 50px;
    height: 61%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
    /* font-size: ; */
}

.ytdesc>h2{
    text-align: center;
    font-weight: lighter;
    font-size: 32px;
    line-height: 40px;
}

.ytpremiumdetails{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ytpremiumdetails>button{
    padding: 7px 30px;
    border-radius: 20px;
    /* width: 40%; */
    border: none;
    font-weight: 600;
    background-color: #3ea6ff;
}

.ytpremiumdetails >p{
    text-align: center;
    font-size: 17px;
    font-weight: lighter;
}

.ytpremiumdetails>p>span{
    color: #4eb0fc;
}

.features{
    margin-top:50px;
    background-color: black;
    color: white;
    display: flex;
    height: 40%;
    justify-content: center;
    align-items: center;
    gap: 40px;
    text-align: center;
}

.features > .left, .features>.center, .features>.right{
    width: 18%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.features>div>h2{
    font-weight: 600;
}

.features>div>p{
    color: white;
    font-size: 12px;
}

.bg1{
    background-image: url("assets/img/bg1.jpeg");
    height: 55%;
    background-size: cover;
}

.bg1>div>h2,.bg2>div>h2,.bg3>div>h2,.bg4>div>h2{
    font-size: 4em;
    font-weight: lighter;
}

.bg1>div{
    padding: 120px 0 0 680px;
}

.bg1>div,.bg2>div,.bg3>div,.bg4>div{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.bg1>div>p,.bg2>div>p,.bg3>div>p.bg4>div>p{
    font-size: 18px;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.4);
}

.bg2{
    background-image: url("assets/img/bg2.jpeg");
    height: 55%;
    background-size: cover;
}

.bg2>div{
        padding: 120px 0 0 360px;
}

.bg3{
    background-image: url("assets/img/bg3.jpeg");
    height: 55%;
    background-size: cover;
}

.bg3>div{
    padding: 120px 0 0 680px;
}

.bg4{
    background-image: url("assets/img/bg4.jpeg");
    height: 55%;
    background-size: cover;
}

.bg4>div{
        padding: 120px 0 0 360px;
} 
