*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Helvetica Neue","Helvetica", "Arial", "sans-serif";
}

.container{
    min-height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    background-color: #fcf5eb;
}

.navbar{
    height: 75px;
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 40px 0 40px;
}

.navbar>img{
    width: 128px;
    object-fit: cover;
}

.centernav{
    width: 62%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    /* margin-top: 3px; */
    gap: 42px;
}

.feature{
    position: relative;
    cursor: pointer;
    display: flex;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

.feature>p, .centernav>p{
    cursor: pointer;
    font-size: 16px;
    font-weight: 300;
}

.feature>img{
    transform: rotate(-90deg);
}

.slide{
    position: relative;
}

.feature::after, .slide::after{
    content: "";
    background-color: rgb(37, 211, 102);
    top: 18px;
    right: 0px;
    position: absolute;
    height: 2px;
    width: 100%;
    transform: scaleX(0);
    transition: all 0.6s ease-in-out;
    transform-origin: left;
}

.feature:hover::after,.slide:hover::after{
    transform: scaleX(1);
}

.rightnav>button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 4px;
    padding: 16px 36px;
    border-radius: 50px;
    background-color: rgb(37, 211, 102);
    font-size: 16px;
    border-width:thin;
}

.rightnav>button>img{
    transform: rotate(135deg);
}


.firstSection{
    /* position: relative; */
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.maaBeti{
    background-image: url(images/MaaBeti.png);
    margin-top: 15px;
    height: 100%;
    width: 98%;
    object-fit: cover;
    border-radius: 20px;
}

.firstSection>p{
    /* width: 98%; */
    position: relative;
    /* left: -2%; */
    top: 6px;
    left: 34% ;
    font-size: 12px;
    opacity: 0.8;
}